<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Alta de Producto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" type="text/css" rel="stylesheet" href="../../assets/css/light/estilos.css">
    <script src="set_theme.js" defer></script>
    <script type="module" src="../../assets/js/validaciones.js"></script>

    <!-- incluir jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <label for="colormode">Tema</label>
            <select name="colormode" title="Tema" id="thememode" class="select">
                <option value="enabled">🌙 Oscuro</option>
                <option value="disabled">☀️ Claro</option>
                <option value="auto" selected>🎨 Auto</option>
            </select>
            <h1>Alta Productos</h1>
            <p>Da de alta un nuevo producto</p>
        </div>

        
        <div class="form_main">
            <div id="feedback">
            </div>
            <form action="" method="POST", id="productForm">
                <fieldset class="fieldsetform">
                    <legend>Datos del Producto</legend>
                    <input class="form_input" type="text" name="nombre" placeholder="Nombre" id="name">
                    <input class="form_input" type="text" name="descripcion" placeholder="Descripción" id="description">
                    <select title="Categoria" name="categoria" id="category" class="select">
                        <optgroup label="Tecnologia">
                            <option value="computers">Computadoras</option>
                            <option value="printers">Impresoras</option>
                        </optgroup>
                        <option value="audio">Audio</option>
                    </select>
                    
                    <br>
                    <img src="../../assets/img/galleryadd.svg" alt="icono" class="galleryicon" title="Subir icono" id="galleryicon">
                </fieldset>
                <br>
                <fieldset class="fieldsetform">
                    <legend>Personalización</legend>
                    <label for="color">Color:</label>
                    <input class="form_input" type="color" value=#00cc00 name="color" placeholder="Color de la categoría">
                    
                </fieldset>
                <div class="buttons">
                    <button type="reset" class="cancelbutton" id="cancelbutton">Cancelar</button>
                    <button type="submit" class="savebutton">Guardar</button>
                </div>
        </div>
        <div class="header">
            <p>Luciano Nicolas Bovero - 46.152.500</p>
        </div>
    </div>
</body>
</html>
