/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 oct. 2023, 19:06:50
    Author     : lucia
*/

body {
    background: linear-gradient(225deg, #3a003c, #00394a);
    color: #ffffff;
    font-family: "Product Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header {
    text-align: center;
    background: linear-gradient(to right, #0c4700, #004053);
    padding: 20px;
    color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    display:block;
    width: 150vh;
}

.form_main {
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 150vh;
    justify-content: space-around;
}

.form_input {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 5px;
    border-radius: 20px;
    border-color: transparent;
    margin-right: 5px;
    text-wrap: pretty;
}

.form_input:focus {
    outline: none;
    border: 2px solid #0d4e00;
    justify-content: center;
}

.form_input::placeholder {
    color: #787878;
    font-family: "Product Sans";
    font-size: 14px;
}

.fieldsetform {
    border-radius: 20px;
    border: 2px solid #ffffff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form_image {
    border-radius: 20px;
    border: 2px solid #ffffff;
}
.form_image:hover{
    border-radius: 20px;
    border: 2px solid #0e5500;
}

.select {
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
}
.galleryicon {
    margin-top: 10px;
    padding: 100px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 2px dotted rgba(255, 255, 255, 0.3);
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}
.cancelbutton {
    background: rgba(251, 0, 0, 0.8);
    color: #ffffff;
    width: 10vh;
    display: flex;
    height: 4vh;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Product Sans";
    font-size: 16px;
}
.savebutton {
    background: rgba(43, 255, 0, 0.8);
    color: #ffffff;
    width: 10vh;
    height: 4vh;
    border-radius: 5px;
    display: flex;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Product Sans";
    font-size: 16px;
}
#feedback {
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}